<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />
  <meta name="robots" content="noodp,noydir" />

  <title>Document Page</title>
  <link href="/stylesheets/rail.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="logo_header">

  <a href="/"><img src="assets/images/242x82.png" alt="login logo"/> </a>
</div>
<div class="signup_block">
  <form class="form-class login-form">

    <div class="section_block" id="section_block">
      <div class="login_content">
        <div class="login-head">
          <h2>Clients Page</h2>
        </div><!--login-head-->
        <div class="form-group">
          <label for="signup_email">Name</label>
          <input size="25" class="email-field" autofocus="autofocus" type="text" name="login[email]" id="signup_email" placeholder="Enter Your Title"/>
        </div><!--form-group-->


        <div class="form-group">
          <label for="username">Site</label>
          <input size="25" class="username" autofocus="autofocus" type="text" name="login[email]" id="username" placeholder="Reference Link"/>
        </div><!--form-group-->





        <div class="form-group text-center">
          <input class="btn" type="submit" value="Create Document" name="commit"/>
        </div><!--form-group-->

      </div>
    </div>
  </form>
</div> <!-- login_block -->

</body>
</html>
