<html>
<head>
  <title>Example of HTML Menu</title>
</head>
<body>
<div id="navigation">
  <ul> <li><a href="#">Documents</a>
    <ul>
      <li>Documents Create</li>
      <li>Documents Index</li>  </ul>
  </li>
    <li>
      <a href="#">Clients</a>
      <ul>
        <li>Clients Create </li>
        <li>Clients Index</li>  </ul>
    </li>
    <li>
      <a href="#">Teams</a>
      <ul>
        <li>Teams Create</li>
        <li>Teams Index</li>  </ul>
    </li>

  </ul>
</div>
</body>
</html>




